{% extends "base.html" %} {% block content %}
<div class="hstack" style="justify-content: space-between">
    <span class="hstack">
        <h1>Calendar</h1>
        <button
            data-tooltip="Copy Calendar Link"
            aria-label="Copy calendar link to clipboard"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path d="m14 18 4 4 4-4" />
                <path d="M16 2v4" />
                <path d="M18 14v8" />
                <path
                    d="M21 11.354V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7.343"
                />
                <path d="M3 10h18" />
                <path d="M8 2v4" />
            </svg>
        </button>
        <h4 ot-animate="slide-left">{{cal.month | format_month}}</h4>
    </span>
    {% include "month_select.html" %}
</div>
<div style="overflow-x: scroll">{% include "calendar_view.html" %}</div>
{% endblock %}
