{% extends "base.html" %} {% block content %}
<div
    class="hstack"
    style="justify-content: space-between"
    ot-animate="slide-left"
>
    <span class="hstack">
        {% for tag in event.tags %}
        <span class="badge">{{ tag }}</span>
        {% endfor %}
    </span>
</div>
<header class="vstack" style="gap: var(--space-2)" ot-animate="slide-left">
    <span
        class="hstack"
        style="
            gap: var(--space-1);
            align-items: center;
            width: 100%;
            justify-content: space-between;
            flex-wrap: nowrap;
        "
    >
        <h1>{{ event.title }}</h1>
        {% let owner = event.owner %} {% include "figure.html" %}
    </span>
    <div
        class="grid"
        style="
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: var(--space-4);
        "
        ot-animate="slide-left"
    >
        <span class="hstack" style="gap: var(--space-1); align-items: center">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path d="M8 2v4" />
                <path d="M16 2v4" />
                <rect width="18" height="18" x="3" y="4" rx="2" />
                <path d="M3 10h18" />
            </svg>
            <a
                href="/calendar?date={{event.from | format_date_query | urlencode }}"
                >{{ event.from | format_date }}
            </a>
        </span>
        <span class="hstack" style="gap: var(--space-1); align-items: center">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#ffffff"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <circle cx="12" cy="12" r="10" />
                <path d="M12 6v6l4 2" />
            </svg>
            <span
                class="hstack"
                style="gap: var(--space-1); align-items: center"
            >
                <p>{{ event.from | format_time }}</p>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="10"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path d="M18 8L22 12L18 16" />
                    <path d="M2 12H22" />
                </svg>
                <p>{{ event.to | format_time }}</p>
            </span>
        </span>
        {% if event.place.is_some() %}
        <span class="hstack" style="gap: var(--space-1); align-items: center">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path
                    d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
                />
                <circle cx="12" cy="10" r="3" />
            </svg>
            {{ event.place.as_ref().unwrap() }}
        </span>
        {% endif %} {% if event.link.is_some() %}
        <span class="hstack" style="gap: var(--space-1); align-items: center">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path
                    d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
                />
                <path
                    d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
                />
            </svg>
            <a href="event.link.as_ref().unwrap()" target="_blank"
                >{{ event.link.as_ref().unwrap() }}</a
            >
        </span>
        {% endif %}
    </div>
</header>
<div ot-animate="slide-left">{{ event.description | markdown | safe }}</div>
{% endblock %}
