{% extends "base.html.j2" %}

{% block title %}{{ post.localized_title(ctx.lang) }}{% endblock title %}

{% block heading %}{{ ctx.t("posts.details.heading") }}{% endblock heading %}

{% block header_action %}
{% if can_edit %}
<a class="primary-action" href="?edit">{{ ctx.t("control.edit") }}</a>
{% endif %}
{% endblock header_action %}

{% block content %}
<article>
<header>
<div class="col-xs-6">
    {# TODO: fetch mandate and author display names #}
    {% if let Some(mandate) = post.mandate %}
    <p>{{ ctx.t2("posts.details.attribution.mandate", post.author, mandate) }}</p>
    {% else %}
    <p>{{ post.author }}</p>
    {% endif %}
</div>
<div class="col-xs-6 text-right">
    <p>{{ post.publish_time }}</p>
</div>
</header>
<main>
<h1>{{ post.localized_title(ctx.lang) }}</h1>

{{ post.localized_content(ctx.lang)|filters::parse_markdown|safe }}
</main>
</article>
{% endblock content %}

{% block full_footer %}
{% include "default_footer.html.j2" %}
{% endblock full_footer %}
