{% extends "base.html.j2" %}

{% block title %}{{ title }}{% endblock title %}

{% block heading %}{{ ctx.t("errors.heading") }}{% endblock heading %}

{% block header_action %}
<a class="primary-action" href="/">{{ ctx.t("control.back") }}</a>
{% endblock header_action %}

{% block content %}
<h1>{{ title }} ({{ ctx.t1("errors.code", status) }})</h1>

<p>{{ description }}</p>
{% endblock content %}

{% block full_footer %}
{% include "default_footer.html.j2" %}
{% endblock full_footer %}
