<div class="col-md-3">
    <a href="https://github.com/datasektionen/atlas">
        {{ ctx.t("footer.github") }}
        <span class="material-icons">code</span>
    </a>
</div>
<div class="col-md-6 text-center">
    {{ ctx.splash() }} © 2025 Konglig Datasektionen
</div>
<div class="col-md-3 text-right">
    {{ ctx.t("footer.attribution")|safe }}
</div>
