{% extends "base.html.j2" %}

{% block full_title %}Atlas{% endblock full_title %}

{% block heading %}{{ ctx.t("index.heading") }}{% endblock heading %}

{% block header_action %}
<a class="primary-action" href="#">{{ ctx.t("header.new") }}</a>
{% endblock header_action %}

{% block content %}
<h1>{{ ctx.t("index.heading.inner") }}</h1>

<p>{{ ctx.t("index.description")|safe }}</p>
{% endblock content %}

{% block full_footer %}
{% include "default_footer.html.j2" %}
{% endblock full_footer %}
